<div> 
  <ul>
    {{#each items}} 
      <div><label>Author:</label> {{this.Author}}</div>
      <div><label>Date:</label> {{this.Date}}</div>
      <div><label>Guid:</label> {{this.Guid}}</div>
      <div><label>LinkImage:</label> {{this.LinkImage}}</div>
      <div><label>LinkVideo:</label> {{this.LinkVideo}}</div>
      <div><label>LinkWeb:</label> {{this.LinkWeb}}</div>
      <div><label>Text:</label> {{{this.Text}}}</div>
      <div><label>Title:</label> {{this.Title}}</div>
      <div><label>Type:</label> {{this.Type}}</div>
    {{/each}}
  </ul>
</div>