<div>
	<div><img src="{{jerseyIcon}}"/>{{name}}</div>
	<ul>
		{{#each items}} 
			<div><label>Country</label>{{this.Country}}</div>
			<div><label>Name</label>{{this.Name}}</div>
			<div><label>Number</label>{{this.Number}}</div>
			<div><label>Position</label>{{this.Position}}</div>
			<div><label>Team</label>{{this.Team}}</div>
			<div><label>Time</label>{{this.Time}}</div>
		{{/each}}
	</ul>
</div>