<h2>{{name}}</h2>
<ul>
  <li><a href="#/stages/{{id}}/live-feed">Live feed</a></li>
  <li><a href="#/stages/{{id}}/map">Map</a></li>
  <li><a href="#/stages/{{id}}/profile">Profile</a></li>
  <li><a href="#/stages/{{id}}/results">Results</a></li>
</ul>